.wave-container {
    position: relative; /* Ensure proper stacking */
    z-index: 5; /* Higher z-index to bring it above other elements */
    width: 100%; /* Full width */
    height: 20vh; /* Adjust height to make the wave visible */
    overflow: hidden; /* Hide anything overflowing */
    margin: -1px 0; /* Remove extra margins */
    padding: 0; /* Remove extra padding */
    background-color: #a8d3ff;
}

.wave-container svg {
    background-color: #ffd891;
    width: 100%; /* Full width */
    height: 100%; /* Use the full container height */
    transform: translateY(-20%); /* Slightly push the wave upwards *!*!*/
}

.wave-container path {
    height: 20vh;
}

/* Smaller screens */
@media (max-width: 768px) {
    .wave-container {
        height: 15vh; /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .wave-container {
        height: 10vh;
    }
}